@{
    Layout = "";
}

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>@T("Nop.Plugins.Payments.AliPay.RedirectionTip")</b></p>
        </td>
    </tr>
</table>

